@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src:  local('Ubuntu Regular'),
    url('../font/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src:  local('Ubuntu Bold'),
    url('../font/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
