* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Ubuntu";
  font-size: 16px;
  color: #333;
}

.container {
  max-width: 1920px;
  width: 1230px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin-top: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: Ubuntu;
  background-color: #FFF;
  line-height: 1.5;
  overflow-x: hidden;
}

button {
  color: #FFFFFF;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-l {
  display: flex;
  align-items: center;
  justify-content: left;
}

.d-flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.d-flex-sl {
  display: flex;
  align-items: start;
  justify-content: left;
}

.d-flex-sc {
  display: flex;
  align-items: start;
  justify-content: center;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), url("/assets/font/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  src: local("Ubuntu Bold"), url("/assets/font/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  src: local("Ubuntu Black"), url("/assets/font/Lato/Lato-Black.ttf") format("truetype");
}
.header_container {
  padding-top: 20px;
}
.header_container .main_header__nav {
  display: flex;
}
.header_container .main_header__nav .header_logo {
  margin-right: 60px;
}
.header_container .main_header__nav .header_list {
  display: flex;
  gap: 20px;
}
.header_container .main_header__nav .header_list .header_link {
  color: #424551;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  padding: 10px;
  transition: all 0.5s ease;
}
.header_container .main_header__nav .header_list .header_link:hover {
  color: #FF5A30;
}
.header_container .main_header__nav .header_list #header_link_services, .header_container .main_header__nav .header_list #header_link_about, .header_container .main_header__nav .header_list #header_link_portfolio {
  color: #FF5A30;
}
.header_container .header_icons {
  display: flex;
  gap: 12px;
}
.header_container .header_icons .header_iconn {
  margin-top: 10px;
}
.header_container .header_icons .header_icons__text {
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.header_container .header_icons .header_icons__text .header_icon__text--span {
  color: #424551;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.footer {
  background-color: #1E212C;
}
.footer .footer_container {
  max-width: 1230px;
}
.footer .footer_container .footer_content__top {
  padding-top: 80px;
}
.footer .footer_container .footer_content__top .footer_top__left .footer_logo-icon {
  max-width: 450px;
  margin-bottom: 24px;
}
.footer .footer_container .footer_content__top .footer_top__left .footer_logo-icon .footer_icon__list {
  gap: 16px;
}
.footer .footer_container .footer_content__top .footer_top__left .footer_text__top {
  max-width: 493px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 73px;
  opacity: 0.6;
}
.footer .footer_container .footer_content__top .footer_top__right {
  max-width: 495px;
}
.footer .footer_container .footer_content__top .footer_top__right .footer_title__top {
  width: 495px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}
.footer .footer_container .footer_content__top .footer_top__right .footer_email {
  max-width: 495px;
  height: 44px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.footer .footer_container .footer_content__top .footer_top__right .footer_email .footer_email__input {
  max-width: 445px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
}
.footer .footer_container .footer_content__top .footer_top__right .footer_email .footer_email__btn {
  max-width: 131px;
  padding: 0px 32px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 0px 4px 4px 0px;
  background: #FF5A30;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
}
.footer .footer_container .footer_content__top .footer_top__right .footer_email__text {
  width: 495px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 49px;
  opacity: 0.6;
}
.footer .footer_container .footer_content__middle {
  max-width: 885px;
  margin-bottom: 60px;
}
.footer .footer_container .footer_content__middle .footer_middle__column1 .footer_title__middle {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer .footer_container .footer_content__middle .footer_middle__column1 .footer_list__middle {
  letter-spacing: 1.5;
}
.footer .footer_container .footer_content__middle .footer_middle__column1 .footer_list__middle .footer_item__middle {
  color: #cfd0d1;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.footer .footer_container .footer_content__middle .footer_middle__column1 .footer_list__middle .footer_item__middle .footer_span__middle {
  color: white;
}
.footer .footer_container .footer_content__middle .footer_middle__column1 .footer_list__middle .footer_item__middle .footer_item__personal {
  color: #cfd0d1;
}
.footer .footer_container .footer_content__middle .footer_middle__column2 .footer_title__middle {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer .footer_container .footer_content__middle .footer_middle__column2 .footer_list__middle .footer_item__middle {
  color: #40424B;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.footer .footer_container .footer_content__bottom {
  padding-bottom: 81px;
}
.footer .footer_container .footer_content__bottom .footer_text__bottom {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_container .footer_content__bottom .footer_text__bottom .footer_bottom__img1 {
  width: 20px;
  height: 20px;
  padding: 0 4px;
  vertical-align: text-bottom;
}
.footer .footer_container .footer_content__bottom .footer_text__bottom .footer_bottom__img2 {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin: 16px;
  padding: 8px;
  background: #FF5A30;
  vertical-align: middle;
}

/* -------------------hero------------------------- */
.home__hero {
  background: linear-gradient(0deg, rgba(30, 33, 44, 0.6) 0%, rgba(30, 33, 44, 0.6) 100%), url("/assets/images/Home page/back/background hero.jpg hero.jpg"), lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
}

.hero_content {
  background-image: url("/assets/images/Home page/icons/right arrow.svg"), url("/assets/images/Home page/icons/right arrow.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
  cursor: pointer;
  margin-right: 32px;
  margin-left: 32px;
}

.hero_container {
  max-width: 1230px;
}

.hero_title {
  max-width: 595px;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 62px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  padding-top: 220px;
  margin-bottom: 24px;
}

span {
  color: #FF5A30;
  max-width: 595px;
  font-family: Ubuntu;
  font-size: 62px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.hero_text {
  max-width: 595px;
  color: #FFF;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 61px;
}

.hero_btn {
  padding: 0px 40px;
  border-radius: 4px;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: transparent;
  margin-right: 24px;
  margin-bottom: 179px;
}

.hero_btn2 {
  background: #FF5A30;
  border: none;
}

.hero_list {
  display: flex;
  justify-content: left;
  gap: 5px;
  padding-bottom: 120px;
}

.hero_item {
  width: 133px;
  color: #CCE4F7;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  border-bottom: 2px solid gray;
  padding: 12px;
  text-align: left;
  margin-bottom: 20px;
}

.active_item {
  color: #FFF;
  border-bottom: 2px solid #FFF;
}

.hero_item:hover {
  cursor: pointer;
  color: #fff;
  border-bottom: 2px solid #FFF;
  transition: 0.3s;
}

/* --------------------------constructions----------------------- */
.construction_container {
  max-width: 1230px;
}

.construction_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  padding-top: 120px;
  margin-bottom: 24px;
}

.construction_text {
  color: #787A80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.construction_video {
  border-radius: 4px;
  opacity: 0.7;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  margin-bottom: 180px;
}

/* .constrruction_img__block::before{
    content: url(../assets/icons/video\ play\ icon.svg);
    background-repeat: no-repeat;
    background-position: top center;
} */
/* --------------------value-------------------------------------- */
.value {
  padding-bottom: 140px;
}

.value_container {
  max-width: 1230px;
}

.value_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.value_text {
  color: #787A80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.value_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value_item {
  text-align: center;
  padding-right: 94px;
  border-right: 1px solid #bfc1c9;
}

.item3 {
  border: none;
  padding-right: 0;
}

.value_img {
  margin-bottom: 24px;
}

.value_sub_title {
  display: flex;
  width: 285px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.value_texts {
  width: 285px;
  color: #787A80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

/* ------------------question------------------------------- */
/* .qustion_container{
    max-width: 1230px;
    padding-bottom: 100px;
}
.question_title{
    color: #1E212C;
    text-align: center;
    font-family: Ubuntu;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 24px;
}
.question_email {
    max-width: 495px;
    height: 44px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background:red;
    padding: 11px 359px 12px 16px;
    margin-bottom: 16px;
}

.question_email__input {
    max-width: 445px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    border: none;
    padding: 1px 10px;
    background-color: rgba(255, 255, 255, 0.20);
}

.question_email__btn {

    border: none;
    padding: 0px 10px;
    margin-left: 184px;
    display: inline-flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #FF5A30;
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
} */
.service {
  background: url("../assets/back/service_bgimage.jpg"), lightgray 50%/cover no-repeat;
}

.service_container {
  max-width: 1230px;
  padding-bottom: 100px;
}

.service_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.service_text {
  color: #787A80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.service_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.service_item {
  width: 285px;
  height: 285px;
  padding: 90px 50px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.service_item3 {
  background: url("../assets/back/background service card.svg"), lightgray 50%/cover no-repeat;
}

.service_img {
  margin-bottom: 24px;
}

.service_item__text {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.service_item__text3 {
  color: #FFF;
}

.service_more {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.service_text_bottom {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
}

.service_btn {
  padding: 0px 40px;
  gap: 10px;
  border-radius: 4px;
  background: #FF5A30;
  color: #FFF;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 325% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* --------------------------projects------------------------------ */
.projects_container {
  max-width: 1230px;
  padding-bottom: 100px;
}

.projects_title {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.projects_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
}

.projects_item {
  max-width: 390px;
  text-align: center;
  /* border: 1px solid gray; */
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.item2 {
  margin-top: -63px;
}

.projects_img {
  margin-bottom: 24px;
}

.projects_sub_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 4px;
}

.projects_texts {
  color: #787A80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}

.projects_more {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.projects_text_bottom {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
}

.projects_btn {
  padding: 0px 40px;
  gap: 10px;
  border-radius: 4px;
  background: #FF5A30;
  color: #FFF;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 325% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* -----------------------------------------partners --------------------------*/
/* .common_container{
    background-image: url("../assets/foto/prifile\ workers.jpg");
    background-repeat: no-repeat;
    background-position: right center;

} */
.partnerrs_container {
  max-width: 1230px;
  padding-bottom: 100px;
}

.partnerrs_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
}

.partnerrs_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 152px;
}

.partnerrs_title__bottom {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.partnerrs_avatar {
  margin-bottom: 24px;
}

.partnerrs_text__bottom {
  max-width: 600px;
  color: #424551;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}

.partnerrs_name {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 4px;
}

.partnerrs_position {
  color: #787A80;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/*-------------------- facts --------------------*/
.factts_container {
  max-width: 1230px;
  padding-bottom: 100px;
}

.factts_title {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.factts_list {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
}

.factts_img {
  margin-bottom: 20px;
}

.factts_text {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.factss_title__bottom {
  color: #1E212C;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.factss_img__bottom--block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.factss_img__bottom--block2 {
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.factss_img__bottom--block3 {
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.factts_bottom__block--img1 {
  margin-bottom: 24px;
}

.factts_img__title {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 12px;
}

.factts_list__bottom {
  display: flex;
  gap: 10px;
}

.factts_item__bottom {
  color: #787A80;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  padding: 0 12px;
  margin-bottom: 16px;
}

.factts_item__bottom1 {
  padding-left: 0;
}

.factts_item__bottom2 {
  border-right: 1px solid #787A80;
  border-left: 1px solid #787A80;
  padding: 0 12px;
}

.factts_img__text {
  max-width: 657px;
  color: #424551;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 25px;
}

.projects_more {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.projects_text_bottom {
  color: #1E212C;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
}

.projects_btn {
  padding: 0px 40px;
  gap: 10px;
  border-radius: 4px;
  background: #FF5A30;
  color: #FFF;
  text-align: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* 325% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header--servis2 {
  background-image: url("/assets/images/Servis 2/back/background header.svg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right top;
}
.header--servis2 .servis2_hero {
  margin-top: 80px;
}
.header--servis2 .servis2_hero .servis2_hero_block {
  max-width: 600px;
  padding-bottom: 115px;
}
.header--servis2 .servis2_hero .servis2_hero_block .servis2_hero__undertitle {
  color: var(--gray-800, #424551);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}
.header--servis2 .servis2_hero .servis2_hero_block .servis2_hero__undertitle .servis2_hero__opasity {
  color: #9A9CA5;
}
.header--servis2 .servis2_hero .servis2_hero_block .servis2_hero__title {
  color: var(--gray-900, #1E212C);
  font-size: 72px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
.header--servis2 .servis2_hero .servis2_hero_block .servis2_hero__subtitle {
  color: var(--gray-700, #787A80);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.servis2_start .we_offer {
  gap: 105px;
  margin-top: 120px;
  margin-bottom: 180px;
}
.servis2_start .we_offer .offer_image {
  width: 705px;
  height: 440px;
}
.servis2_start .we_offer .offer_text .offer_title {
  color: var(--gray-900, #1E212C);
  font-family: Lato;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}
.servis2_start .we_offer .offer_text .offer_subtitle {
  color: var(--gray-700, #787A80);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
  margin-left: 44px;
}
.servis2_start .we_offer .offer_text .offer_titles {
  gap: 20px;
}
.servis2_start .we_offer .offer_text .offer_titles .offers_icon {
  margin-top: 9px;
}
.servis2_start .we_offer .offer_text .offer_titles .offer_second_title {
  color: var(--gray-900, #1E212C);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 12px;
}
.servis2_start .steps {
  margin-bottom: 120px;
}
.servis2_start .steps .steps__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 32px;
  margin-bottom: 60px;
}
.servis2_start .steps .steps__card_container {
  gap: 30px;
  flex-wrap: wrap;
}
.servis2_start .steps .steps__card_container .steps__card {
  flex-direction: column;
  max-width: 285px;
}
.servis2_start .steps .steps__card_container .steps__card .steps__card_block {
  border-radius: 50%;
}
.servis2_start .steps .steps__card_container .steps__card .steps__card_block .steps__card_num {
  color: var(--gray-400, #D7DADD);
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  border-radius: 50%;
  padding: 20px 22px;
  transition: all 0.5s ease;
}
.servis2_start .steps .steps__card_container .steps__card .steps__card_num:hover {
  background-color: #ffac97;
  color: #FF5A30;
}
.servis2_start .steps .steps__card_container .steps__card .steps__card_title {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}
.servis2_start .steps .steps__card_container .steps__card .steps__card_subtitle {
  color: var(--gray-700, #787A80);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.benefits {
  position: relative;
  margin-bottom: 180px;
  background: var(--gray-900, #1E212C);
}
.benefits .benefits__content .Discuss {
  position: absolute;
  bottom: 0;
  left: 480px;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 1px 111px;
  border: solid #FF5A30 1px;
  border-radius: 4px;
  background: var(--primary, #FF5A30);
  transition: all 0.5s ease;
}
.benefits .benefits__content .Discuss:hover {
  background-color: #FFF;
  color: #FF5A30;
}
.benefits .benefits__content .benefits__group {
  padding-top: 80px;
  padding-bottom: 120px;
}
.benefits .benefits__content .benefits__group .benefits__title {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}
.benefits .benefits__content .benefits__group .benefits__subtitle {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}
.benefits .benefits__content .benefits__group .benefits__card_container {
  gap: 94px;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_line {
  display: block;
  width: 1px;
  height: 188px;
  opacity: 0.4;
  background: linear-gradient(270deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card {
  flex-direction: column;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card .benefits__card_image1 {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card .benefits__card_image2 {
  width: 48px;
  height: 36px;
  margin-bottom: 29px;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card .benefits__card_image3 {
  width: 48px;
  height: 39px;
  margin-bottom: 24px;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card .benefits__card_title {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}
.benefits .benefits__content .benefits__group .benefits__card_container .benefits_card .benefits__card_subtitle {
  color: var(--white, #FFF);
  width: 285px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.benefits .benefits_back {
  height: 26px;
  width: 100%;
  background-color: #FFF;
}

.portfolio_carousel {
  margin-bottom: 105px;
}
.portfolio_carousel .portfolio__content .portfolio__top {
  margin-bottom: 60px;
  gap: 795px;
}
.portfolio_carousel .portfolio__content .portfolio__top .Portfolio__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 700;
  line-height: 130%; /* 59.8px */
}
.portfolio_carousel .portfolio__content .portfolio__top .portfolio__arrow_group {
  gap: 24px;
}
.portfolio_carousel .portfolio__content .portfolio__card_container {
  gap: 30px;
  margin-bottom: 80px;
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card {
  padding-bottom: 24px;
  border-radius: 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__card_img {
  margin-bottom: 16px;
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__card_title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__card_subtitle {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__button_link {
  margin-left: 109px;
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__button_link .portfolio__card_button {
  margin-top: 24px;
  border-radius: 4px;
  border: 1px solid var(--primary, #FF5A30);
  background-color: #FFF;
  color: var(--primary, #FF5A30);
  font-size: 14px;
  font-weight: 700;
  line-height: 44px; /* 314.286% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 32px;
  transition: all 0.5s ease;
}
.portfolio_carousel .portfolio__content .portfolio__card_container .portfolio__card .portfolio__button_link .portfolio__card_button:hover {
  background-color: #FF5A30;
  color: #FFF;
}
.portfolio_carousel .portfolio__content .portfolio__button_group {
  gap: 40px;
}
.portfolio_carousel .portfolio__content .portfolio__button_group .portfolio__button_group {
  color: var(--gray-900, #1E212C);
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
}
.portfolio_carousel .portfolio__content .portfolio__button_group .portfolio__button {
  padding: 1px 39px;
  border: solid #FF5A30 1px;
  border-radius: 4px;
  background: var(--primary, #FF5A30);
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.portfolio_carousel .portfolio__content .portfolio__button_group .portfolio__button:hover {
  background-color: #FFF;
  color: #FF5A30;
}

.servis2_main {
  background: var(--gray-200, #F4F5F6);
  background-image: url("/assets/images/Servis 2/back/background main.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px 0 92px 0;
}
.servis2_main .pricing {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.servis2_main .pricing .pricing__title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%; /* 59.8px */
  margin-bottom: 24px;
}
.servis2_main .pricing .pricing__subtitle {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  margin-bottom: 60px;
}
.servis2_main .clients .clients__title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 59.8px */
  margin-bottom: 32px;
}
.servis2_main .clients .clients__group {
  gap: 65px;
}/*# sourceMappingURL=main.css.map */